@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
  }
  
section{
    padding:5rem 9%;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    border:0.2rem solid black;
    color:black;
    cursor:pointer;
    background:none;
    font-size:1.7rem;
    padding:1rem 3rem;

}
.btn:hover{
    background: red;
    color: white;
}
.heading {
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 4rem;
    color: #10221b;
  }
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding:2rem 9%;
    z-index: 1000;
    display: flex;
    align-items: center;
}
.header.active{
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.header .logo{
    margin-right: auto;
    font-size: 2.5rem;
    color:black;
    font-weight: bolder;
}

.logo img{
  height: 70px;
  display: block;
}



.step-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}

.step-container .step{
  margin: 1rem;
  padding: 2rem;
  border-radius: .5rem;
  box-shadow: 0.5rem 1rem rgba(0,0,0,.9);
  text-align: center;
  flex: 1 1 30rem;
  }

.step-container .step span{
  font-size: 7rem;
  color: black;
  font-weight: bolder;
}

.step-container .step h3{
  font-size: 3rem;
  color: blueviolet;
  font-weight: bolder;
}

.step-container .step p{
  font-size: 1.5rem;
  color: rosybrown;
  padding: 1rem;
}



.header .navbar a{
    margin-left: 2rem;
    font-size: 1.7rem;
    color: black;
    
}
.header .navbar a:hover{
    color: green;
}
.header .navbar #nav-close{
    font-size: 5rem;
    cursor: pointer;
    color: black;
    display: none;
}
.header .icons a, .header .icons div{
    font-size: 2.5rem;
    margin-left: 2rem;
    cursor:pointer;
    color:black;
}

.header.icons a:hover, .header.icons div:hover{
    color: green;
}

.home{
    padding:0;

}
.home .box{
    min-height:100vh;
    display:flex;
    align-items: center;
    background-size: cover !important;
    background-position: center !important;
    justify-content: flex-end;
    padding: 2rem 9%;

}

.home .content{
    width:50rem;

}
.home .content span{
    font-size: 4rem;
    color:black;
}
.home .content h3{
    font-size: 6rem;
    color:green;
    padding-top: .5rem;
    text-transform: uppercase;
}
.home .content p{
    line-height: 2;
    color:black;
    font-size: 1.5rem;
    padding:1rem 0;
}
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.container {
  padding: 0 16px;
}


.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}






.category .box-container{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(29rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
    gap: 1.5rem;
}

.category .box-container .box {
    text-align: center;
    padding: 1rem;
  }
  .category .box-container .box img {
    height: 30rem;
    width: 30rem;
    border-radius: 60%;
    margin-bottom: 1rem;
  }
  .category .box-container .box h3 {
    font-size: 2rem;
    color: black;
  }
  
  .category .box-container .box p {
    font-size: 1.5rem;
    color: #10221b;
    padding: 1rem 0;
    line-height: 2;
  }

  
  .img-gallery{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-area: 30px;
  }

  .img-gallery img{
    width: 100%;
    cursor: pointer;
  }

  .img-gallery img:hover{
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(68,77,136,0.2);
  }
  .team .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .team .box-container .box{
    margin:1rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.9);
    background:#fff url(../images/card-bg.png) no-repeat;
    padding:4.7rem 2rem;
    text-align: center;
    background-size: cover;
    flex:1 1 33rem;
  }
  
  .team .box-container .box img{
    border-radius: 50%;
    object-fit: cover;
    height: 15rem;
    width:15rem;
    padding:1rem;
  }
  
  .team .box-container .box h3{
    font-size: 2.5rem;
    color:var(--black);
  }
  
  .team .box-container .box span{
    font-size: 2rem;
    color:var(--pink);
  }
  
  .team .box-container .box p{
    font-size: 1.5rem;
    color:#333;
    padding:1rem 0;
  }

  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: black;
    background-color:palevioletred;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: red;
  }
  
  .footer {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/footer.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  .footer .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
  }
  
  .footer .box-container .box h3 {
    font-size: 2rem;
    padding: 1.5rem 0;
    color: #fff;
  }
  
  .footer .box-container .box a {
    display: block;
    font-size: 1.4rem;
    color: #fff;
    padding: 1rem 0;
  }
  
  .footer .box-container .box a i {
    color: #219150;
    padding-right: .5rem;
  }
  
  .footer .box-container .box a:hover {
    color: #219150;
  }
  
  .footer .box-container .box a:hover i {
    padding-right: 2rem;
  }
  
  .footer .credit {
    text-align: center;
    margin-top: 2.5rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #fff;
  }
  
  .footer .credit span {
    color: purple;
  }
  


@media (max-width:1200px){
    .header{
        padding: 2rem;
    }
    section{
        padding:3rem 2rem;
    }
}

@media (max-width:991px){
    html{
        font-size: 55%;
    }
    .home .box{
        padding: 2rem;
        justify-content: center;
        background-position: right !important;
    }
    .home .box .conent{
        text-align: center;

    }
    .home .box .conent span{
        font-size: 3rem;
    }
    .home .box .conent h3{
        font-size: 4rem;
    }
}
@media (max-width:768px){
    .header #menu-btn{
        display: inline-block;
    }
    .header .navbar{
        position: fixed;
        top:0; left:-110%;
        background: white;
        z-index:10000;
        width: 35rem;
        height: 100%;
       
        display:flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        
    }
    .header .navbar.active{
        left:0;
        box-shadow: 0 0 0 100vw rgba(0,0,0,0.8);
    }
    .header .navbar a{
        margin:1rem 0;
        font-size: 3rem;
    }
    .header .navbar #nav-close{
        display: block;
        position: absolute;
        top:1rem; right:2rem;
    }
   
  }
   

@media (max-width:450px){
    html{
        font-size: 50%;
    }
    .heading {
        font-size: 3rem;
      }
}


@media (max-width:1200px){

  html{
    font-size: 55%;
  }

}

@media (max-width:991px){

  header{
    padding:2rem 4%;
  }

  section{
    padding:3rem 4%;
  }

}